ADMIN_USER=admin
ADMIN_PASSWD=aaaaaaaa
ADMIN_EMAIL=owojudge@xxx.com
GITEA_ADMIN_USER=admin
GITEA_ADMIN_PASSWD=aaaaaaaa
GITEA_ADMIN_EMAIL=owojudge@xxx.com
GITEA_DB_NAME=gitea
GITEA_DB_USER=gitea
GITEA_DB_PASSWD=gitea
GITEA_DB_PORT=5432

GITEA_HTTP_PORT=3000
GITEA_SSH_PORT=22
MONGODB_PORT=27017
BACKEND_PORT=8787

# Webhook Configuration
WEBHOOK_BRANCH_FILTER=main

NEXT_PUBLIC_API_URL=http://localhost:8787
