[Unit]
Description=Judge Backend Service
After=network.target isolate.service
Wants=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/app
Environment=NODE_ENV=production
ExecStartPre=/app/start.sh     # set up cgroups and isolate
ExecStart=/usr/bin/npm run start
StandardOutput=append:/app/judge-backend.log
StandardError=append:/app/judge-backend.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
